
.accordion{
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    background-color: #d7f4e3 !important;
    color: white; /* Change text color to white for better visibility */
}
:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }


.faqs-information{
    padding-bottom: 1.5rem;
}

.faqs-title{
    text-align: left;
    padding-top: 3rem;
    font-family: cascadia;
}
.faqs-container{
    min-width: 90%;
    justify-content: left;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.card-header.active {
    background-color: #C1E6D4 !important; 
    color: #ffffff; 
  }