.cls-1,.cls-11{fill:#0d6efd;}
.cls-1,.cls-3{stroke:#fff;}
.cls-1,.cls-2,.cls-3,.cls-5,.cls-6,.cls-7,.cls-8,.cls-9{stroke-miterlimit:10;}
.cls-1{stroke-width:5px;}
.cls-2,.cls-6{fill:#e2c0aa;}
.cls-2,.cls-7,.cls-9{stroke:#000;}
.cls-3{fill:#34a853;}
.cls-4{fill:#34a852;}
.cls-5,.cls-7{fill:#fbbc04;}
.cls-5{stroke:#000703;}
.cls-6{stroke:#000c06;}
.cls-8{fill:#a8dab5;stroke:#000201;}
.cls-10,.cls-9{fill:#fff;}